/*Add predefined assignment styles here*/

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header, .section1, footer {
    background-color: #1f2937;
}

.s1b1_title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.s1b1_subtext, .header_links {
    font-size: 18px;
    color: #e5e7eb;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}

button, .section4 {
    background-color: #3882f6;
}

.s2b1_title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.section3 {
    background-color: #e5e7eb;
}

.s3_quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

/*Add user styles here*/
